* {
box-sizing: border-box;
}


body {
font-family: serif;
background: #fff;
color: #111;
margin: 0;
padding: 2rem;
line-height: 1.6;
}

@media (max-width: 600px) {
  .site-header {
    flex-direction: column;
  }

  .header-title {
    position: static;
    transform: none;
    margin-bottom: 1rem;
  }
}

.header-nav a {
  margin-right: 1rem;
}

nav a:hover {
text-decoration: underline;
}


.projects article,
main article {
margin-bottom: 3rem;
}


h1, h2 {
font-weight: normal;
}


.intro {
max-width: 600px;
margin-bottom: 4rem;

}




