* {
box-sizing: border-box;
}


body {
font-family: serif;
background: #fff;
color: #111;
margin: 0;
padding: 2rem;
line-height: 1.6;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.header-title {
  margin: 4rem 0 2rem 0;
}

.header-title img {
  max-width: 100%;
  height: auto;
}

nav a {
margin-left: 1rem;
text-decoration: none;
color: inherit;
}


nav a:hover {
text-decoration: underline;
}


.projects article,
main article {
margin-bottom: 3rem;
}


h1, h2 {
font-weight: normal;
}


.intro {
max-width: 600px;
margin-bottom: 4rem;

}

