* {
box-sizing: border-box;
}


body {
font-family: serif;
background: #fff;
color: #111;
margin: 0;
padding: 2rem;
line-height: 1.6;
}

.site-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 4rem;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-nav a {
  color: #000;
  text-decoration: none;
  margin-left: 1.5rem;
}

.header-nav a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header-nav a:visited {
  color: #000;
}

.projects article,
main article {
margin-bottom: 3rem;
}


h1, h2 {
font-weight: normal;
}


.intro {
max-width: 600px;
margin-bottom: 4rem;

}






