* {
box-sizing: border-box;
}


body {
font-family: serif;
background: #fff;
color: #111;
margin: 0;
padding: 2rem;
line-height: 1.6;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-title img {
  max-height: 60px; /* adjust */
  width: auto;
}

.header-nav a {
  margin-right: 1rem;
}

nav a:hover {
text-decoration: underline;
}


.projects article,
main article {
margin-bottom: 3rem;
}


h1, h2 {
font-weight: normal;
}


.intro {
max-width: 600px;
margin-bottom: 4rem;

}



